html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		style. 
			body { 
				background: gray; 
			}
			.wrapper {
				background: white;
				padding: 20px;
				margin: 20px auth;
				width: 80%;
			}
	body
		.wrapper
			.head
				img.logo(src="https://pazari-vivliou.gr/logo.png", width="30")
				span.title Παζάρι Βιβλίου
			.content
				b.mail-title Καλώς ήλθατε στο Παζάρι Βιβλίου!
				p.mail-text Κάντε κλίκ στον παρακάτω σύνδεσμο για να επαναφέρετε τον κωδικό σας:
				p
					a(href="https://pazari-vivliou.gr?token=" + token)="https://pazari-vivliou.gr?token=" + token

		