doctype html
html(lang="el")
	include head.jade
	body
		include main-nav.jade
		.main-content-wrapper
			.center-wrapper
				include sidebars.jade
				.listings
					.container
						.listing-category
							h2.title Προσωπικά δεδομένα
							div
								p Κατά την επίσκεψή σας στις σελίδες του pazari-vivliou.gr και προκειμένου να παραγγείλειτε προϊόντα, δεν είναι απαραίτητη η εκ μέρους σας γνωστοποίηση προσωπικών στοιχείων.
								p Μπορείτε να παραγγείλετε τα προϊόντα που επιθυμείτε χωρίς να πραγματοποιήσετε σύνδεση / εγγραφή. Σ' αυτήν την περίπτωση, προσθέτετε τα προϊόντα στο καλαθι, συμπληρώνετε τη φόρμα με τα στοιχεία σας και επιλέγετε τον τρόπο πληρωμής και παράδοσης. Αν αλλάξετε γνώμη και θελήσετε να αποθηκεύσετε τα στοιχεία σας, τότε κλικάρετε στο αντίστοιχο κουτάκι και θα σας ζητηθεί να κάνετε σύνδεση / εγγραφή.
								p Τα στοιχεία που ζητούνται για την εγγραφή στο διαδικτυακό τόπο είναι: username , password και e-mail. Για την έκδοση παραστατικών θα ζητηθούν περισσότερα στοιχεία (Όνομα, Επώνυμο, E-mail, Τηλέφωνο, Διεύθυνση, ΑΦΜ, ΔΟΥ). Σε κάθε περίπτωση, η εταιρεία μας και το pazari-vivliou.gr, υπακούoντας πιστά στις αρχές της προστασίας των προσωπικών δεδομένων που προβλέπονται από τους σχετικούς νόμους και τις διεθνείς συμβάσεις, δεν πρόκειται να προβούν σε οποιαδήποτε αθέμιτη και χωρίς την προηγούμενη έγκρισή σας χρήση προσωπικών δεδομένων, που ενδέχεται να δηλώσετε οπουδήποτε στις σελίδες και τις υπηρεσίες του διαδικτυακού τόπου του www.pazari-vivliou.gr. Η εταιρεία και το pazari-vivliou.gr, με κανέναν τρόπο δεν αποκαλύπτει, δημοσιοποιεί, πωλεί, ανταλλάσσει τα προσωπικά στοιχεία και τις πληροφορίες που μας εμπιστεύεστε. Είναι αυτονόητο οτι τα προσωπικά σας στοιχεία μπορεί να δημοσιοποιηθούν από την εταιρεία, τηρουμένης πάντα της προβλεπόμενης από το νόμο διαδικασίας, όταν αυτό επιβάλλεται από Δημόσια Αρχή, δικαστήριο, κλπ. Το pazari-vivliou.gr επιφυλάσσεται του δικαιώματος του να ενημερώνει τους προμηθευτές του με στατιστικές καταστάσεις πωλήσεων, οι οποίες όμως σε καμία περίπτωση δεν θα περιέχουν προσωπικά στοιχεία που μπορεί να οδηγήσουν σε αναγνώριση ατόμων. Αν και το pazari-vivliou.gr λαμβάνει όλα τα εύλογα μέτρα για τη διαφύλαξη και την πρόληψη της άνευ αδείας πρόσβασης στις προαναφερθείσες προσωπικές πληροφορίες, δεν μπορούμε να είμαστε υπεύθυνοι για τις πράξεις αυτών που αποκτούν πρόσβαση χωρίς άδεια και εμείς δεν παρέχουμε καμία εγγύηση, ρητή, σιωπηρή ή άλλη, οτι θα παρεμποδίσουμε την άνευ αδείας πρόσβαση στις ιδιωτικές πληροφορίες σας.
		include footer.jade