doctype html
html(lang="el")
	include head.jade
	body
		include main-nav.jade
		.main-content-wrapper
			.center-wrapper
				include sidebars.jade
				.listings
					.container
						.listing-category
							h2.title Η εταιρία μας
							.ws.g-maps-map
								iframe(frameborder="0" style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA4f82-Cz_UzFdUqzRw_GHk0H9QfQUISrY&q=Korinthou+278,+Patra+262+21,+Greece", allowfullscreen)
							.about-fields
								p
									div
										b Τηλέφωνο επικοινωνίας: 
										span 261 000 9669
									div
										b Email: 
										span contact&#64;pazari-vivliou&#46;gr
		include footer.jade